<!DOCTYPE html>
<html>
  <head>
    <title>Test Assignment TypeA</title>
    <%= tag.meta data: { environment: Rails.env } %>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/ecc3f426c6.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' , 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/shared/navigation' %>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-3">
          <%= render 'layouts/shared/aside' %>
        </div>
        <div class="col-md-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
